<h1> OSGI Config Demo</h1>
<div data-sly-use.osgiconfig="com.mysite.core.models.OSGiConfigDemo"></div>
	<p>Service Name: <b>${osgiconfig.serviceName}</b> </p>
    <p>Service Count: <b>${osgiconfig.serviceCount}</b> </p>
    <p>is Live data: <b>${osgiconfig.isLiveData}</b> </p>

    <p><b>Countries</b></p>
    <ul data-sly-list="${osgiconfig.countries}">
    	<li> ${item}</li>
     </ul>

    <p>Service Name Module : <b>${osgiconfig.serviceNameModule}</b></p>
    <p>Service Name Module : <b>${osgiconfig.serviceCountModule}</b></p>

	=============OSGi Factory=========================
	<div data-sly-list = ${osgiconfig.allOSGiConfig}>
		<p>Config ID : <b>${item.configID}</b></p>
        <p>Service Name : <b>${item.serviceName}</b></p>
        <p>Service URL : <b>${item.serviceURL}</b></p>
        ---------------------------------------------
    </div>

